%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Snowfalls by Resort
          %h4.cover-heading *Click Logo to See Snowfall Details & Map*
          .container-fluid
            .row
              - @resorts.each do |resort|
                .col-lg-4.resorts
                  %a{:href => resort_path(resort)}
                    %img.img-rounded.resort{:src => resort.logo, :style => "width: 150px; height: 150px;"}
                  %h1= resort.name
                  %h3= "Snowfall: #{resort.daily_snowfall} in."
