%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Snowfalls by Resort
          .container-fluid
            .row
              - @daily_snowfalls_hash.each_pair do |resort, snowfall|
                .col-lg-4.resorts
                  %h3= resort
                  %h4= snowfall
