.masthead.clearfix
  .inner
    %h2.masthead-brand
      = link_to "POW PURSUIT", root_path
    %ul.nav.masthead-nav
      %li
        %a{:href => "#"} What We Do
      %li
        %a{:href => "#"} Sign In
      %li
        %a{:href => "#"} Snowfalls
      %li
        %a{:href => "#"} Travel Times
      %li
        = link_to "Resorts", resorts_path
