.masthead.clearfix
  .inner
    %h2.masthead-brand POW PURSUIT
    %ul.nav.masthead-nav
      %li
        = link_to "Home", root_path
      %li
        = link_to "Snowfalls", snowfalls_path
      %li
        = link_to "Resorts", resorts_path
      %li
        %a{:href => "#"} Your Pursuit
