.masthead.clearfix
  .inner
    %h2.masthead-brand POW PURSUIT
    %ul.nav.masthead-nav
      %li
        = link_to "Home", root_path
      %li
        %a{:href => "#"} Sign In
      %li
        %a{:href => "#"} Snowfalls
      %li
        %a{:href => "#"} Travel Times
      %li
        = link_to "Resorts", resorts_path
      %li
        %a{:href => "#"} What We Do
