%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Your Pow Adventures
          .row
            .container-fluid
              .col-sm-2.blog-sidebar
                .sidebar-module
                  %img.img-rounded{:src => current_user.avatar.url(:thumb)}
                  %h3 Your Resorts
                  - current_user.favorites.each do |favorite|
                    %a{:href => resort_path(favorite)}
                      %img.img-rounded.resort{:src => favorite.resort.logo, :style => "width: 100px; height: 100px;"}
              .col-sm-10.user-photo-gallery
                = link_to "Upload Your Adventure", new_user_photo_path, class: "btn btn-large btn-default"
                - current_user.user_photos.each do |photo|
                  %img.img-rounded.resort{:src => photo.url(:medium)}
                  = link_to "Tweet Your Pursuit", new_tweet_path(:resort => "#{favorite.name}"), class: 'btn-xs btn-info'
