%body.welcome
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Your Pursuit
          .container.marketing
            .row
              - @top_three.each do |resort|
                .col-lg-4.resort
                  %h2= resort.name
                  %h4= "Snowfall: #{resort.daily_snowfall}"
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map

  %h4
    = link_to "Help Us Help Your Pursuit", edit_user_path, class: 'btn btn-default'
