%body.welcome
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading For Those Who Shred.
          %p.lead Today's top three snowfalls:
          .container.marketing
            .row
              - @top_three.each do |resort, snowfall|
                .col-lg-4.resort
                  %h2= resort
                  %h4= "Snowfall: #{snowfall}"
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map
            #map_canvas
              %script{:src => "https://maps.googleapis.com/maps/api/js"}
              :javascript
                function initialize() {
                  var mapCanvas = document.getElementById('map_canvas');
                  var mapOptions = {
                    center: new google.maps.LatLng(39.640600, -106.373564),
                    zoom: 9,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  }
                  var map = new google.maps.Map(mapCanvas, mapOptions);
                  var trafficLayer = new google.maps.TrafficLayer();
                  trafficLayer.setMap(map);
                }
                google.maps.event.addDomListener(window, 'load', initialize);
