%body.welcome
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading For Those Who Shred.
          %p.lead Today's top three snowfalls:
          .container.marketing
            .row
              .col-lg-4.resort
                %img.img-rounded{:src => "http://static.pexels.com/wp-content/uploads/2014/06/landscape-mountains-nature-1214.jpg", :style => "width: 200px; height: 200px;"}
                  %h2 Resort One
                  %p SNOW FALL
                  %p TRAVEL TIME
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map
              .col-lg-4.resort
                %img.img-rounded{:src => "http://static.pexels.com/wp-content/uploads/2014/08/dawn-dusk-mountains-2572.jpg", :style => "width: 200px; height: 200px;"}
                  %h2 Resort Two
                  %p SNOW FALL
                  %p TRAVEL TIME
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map
              .col-lg-4.resort
                %img.img-rounded{:src => "http://static.pexels.com/wp-content/uploads/2014/06/cloudy-fog-forest-1256.jpg", :style => "width: 200px; height: 200px;"}
                  %h2 Resort Three
                  %p SNOW FALL
                  %p TRAVEL TIME
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map
