@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "welcome";
@import "user";
@import "resorts";

.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover-heading {
  margin-top: 10px;
}
.inner {
  padding: 15px;
}
.lead {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marketing{
  height: 600px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-background {
  background: url(IMG_0466.jpg) no-repeat center center fixed;
  background-size: 100%;
}
.site-wrapper {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  display: table;
  width: 100%;
  height: 600px;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
