%body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading For the pursuit of pow.
          %p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
          %p.lead
            %a.btn.btn-lg.btn-default{:href => "#"} Learn more
        .mastfoot
          .inner
            %p
              Cover template for
              = succeed "," do
                %a{:href => "http://getbootstrap.com"} Bootstrap
              by
              = succeed "." do
                %a{:href => "https://twitter.com/mdo"} @mdo
