%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Snowfalls by Resort
          .container-fluid
            .row
              - @resorts.each do |resort|
                .col-lg-4.resorts
                  %h2= resort.name
                  %p= Snotel.daily(resort.snotel_station.to_sym).last[:change_in_snow_depth_in]
                  %p TRAVEL TIME
                  %p
                    %a.btn.btn-default{:href => "#", :role => "button"} Details & Map
