%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Snowfalls by Resort
          .container-fluid
            .row
              - @resorts.each do |resort|
                .col-lg-4.resorts
                  %img.img-rounded.resort{:src => resort.logo, :style => "width: 150px; height: 150px;"}
                  %h1= resort.name
                  %h3= "Snowfall: #{resort.daily_snowfall} in."
                  %p TRAVEL TIME
                  %p
                    = link_to "Details & Map", resort_path(resort), class: 'btn btn-default'
