%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Snowfalls by Resort
          .container-fluid
            .row
              = render partial: 'layouts/shared/all_resorts'
